In [1]:
import pandas as pd 
import numpy as np
df = pd.read_csv("data/HR.csv")
df

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low
14999,NaN,0.52,2,158,3,0,1,0,support,low
15000,NaN,999999.00,2,158,3,0,1,0,sale,low
15001,0.70,0.40,2,158,2,0,1,0,sale,nme

In [2]:
amh_s = df["average_monthly_hours"]
amh_s

0        157
1        262
2        272
3        223
4        159
        ...
14997    280
14998    158
14999    158
15000    158
15001    158
Name: average_monthly_hours, Length: 15002, dtype: int64

In [3]:
amh_s.mean()

201.0417277696307

In [4]:
amh_s.median()

200.0

In [5]:
amh_s.std()

49.94181527437925

In [6]:
amh_s.skew()

0.05322458779916304

In [7]:
amh_s.kurt()

-1.1350158577565719

In [8]:
amh_s = amh_s[amh_s < amh_s.quantile(q=0.75)+1.5*(amh_s.quantile(q=0.75)-amh_s.quantile(q=0.25))][amh_s > amh_s.quantile(q=0.25)-1.5*(amh_s.quantile(q=0.75)-amh_s.quantile(q=0.25))]

In [9]:
amh_s

0        157
1        262
2        272
3        223
4        159
        ...
14997    280
14998    158
14999    158
15000    158
15001    158
Name: average_monthly_hours, Length: 15002, dtype: int64

In [10]:
amh_s.max()

310

In [11]:
amh_s.min()

96

In [13]:
np.histogram(amh_s.values , bins=np.arange(80 ,320 ,10 ))

(array([   0,   54,  179,  156,  322, 1016, 1218, 1262,  893,  799,  800,
         770,  735,  767,  868,  862,  999, 1034, 1012,  665,  286,  135,
         170], dtype=int64),
 array([ 80,  90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200,
        210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310]))

In [18]:
amh_s.value_counts(normalize=True,bins=np.arange(90,320,10)).sort_index()

(89.999, 100.0]    0.004866
(100.0, 110.0]     0.011465
(110.0, 120.0]     0.010265
(120.0, 130.0]     0.024730
(130.0, 140.0]     0.072390
(140.0, 150.0]     0.079789
(150.0, 160.0]     0.085989
(160.0, 170.0]     0.055526
(170.0, 180.0]     0.054059
(180.0, 190.0]     0.052460
(190.0, 200.0]     0.050193
(200.0, 210.0]     0.049927
(210.0, 220.0]     0.050593
(220.0, 230.0]     0.057526
(230.0, 240.0]     0.059725
(240.0, 250.0]     0.067058
(250.0, 260.0]     0.070524
(260.0, 270.0]     0.065391
(270.0, 280.0]     0.040061
(280.0, 290.0]     0.018131
(290.0, 300.0]     0.008732
(300.0, 310.0]     0.010599
Name: average_monthly_hours, dtype: float64

In [20]:
s_s = df['salary']

In [21]:
s_s.value_counts()

low       7318
medium    6446
high      1237
nme          1
Name: salary, dtype: int64

In [23]:
s_s.where(s_s != "nme").dropna().value_counts()

low       7318
medium    6446
high      1237
Name: salary, dtype: int64