In [1]:
import pandas as pd 
import numpy as np
df = pd.read_csv("data/HR.csv")
df

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low
14999,NaN,0.52,2,158,3,0,1,0,support,low
15000,NaN,999999.00,2,158,3,0,1,0,sale,low
15001,0.70,0.40,2,158,2,0,1,0,sale,nme

In [3]:
np_s = df["number_project"]
np_s

0        2
1        5
2        7
3        5
4        2
        ..
14997    6
14998    2
14999    2
15000    2
15001    2
Name: number_project, Length: 15002, dtype: int64

In [5]:
np_s.mean()

3.8026929742700974

In [6]:
np_s.median()

4.0

In [8]:
np_s.min()

2

In [9]:
np_s.max()

7

In [10]:
np_s.kurt()

-0.49580962709450604

In [11]:
np_s.skew()

0.3377744235231047

In [12]:
np_s.var()

1.519630104915638

In [13]:
np_s.std()

1.232732779200601

In [14]:
np_s.value_counts() #每个数字出现次数

4    4365
3    4055
5    2761
2    2391
6    1174
7     256
Name: number_project, dtype: int64

In [15]:
np_s.value_counts(normalize=True) #展示每个值占比

4    0.290961
3    0.270297
5    0.184042
2    0.159379
6    0.078256
7    0.017064
Name: number_project, dtype: float64

In [16]:
np_s.value_counts(normalize=True).sort_index() #占比排序

2    0.159379
3    0.270297
4    0.290961
5    0.184042
6    0.078256
7    0.017064
Name: number_project, dtype: float64