In [1]:
import pandas as pd 
import numpy as np

df = pd.read_csv("data/HR.csv")

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low
14999,NaN,0.52,2,158,3,0,1,0,support,low
15000,NaN,999999.00,2,158,3,0,1,0,sale,low
15001,0.70,0.40,2,158,2,0,1,0,sale,nme

In [2]:
#异常值分析
sl_s = df["satisfaction_level"]
sl_s.isnull()

0        False
1        False
2        False
3        False
4        False
         ...
14997    False
14998    False
14999     True
15000     True
15001    False
Name: satisfaction_level, Length: 15002, dtype: bool

In [3]:
sl_s[sl_s.isnull()]#找出异常值

14999   NaN
15000   NaN
Name: satisfaction_level, dtype: float64

In [4]:
df[df["satisfaction_level"].isnull()]

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
14999,NaN,0.52,2,158,3,0,1,0,support,low
15000,NaN,999999.00,2,158,3,0,1,0,sale,low

In [6]:
#填充
# sl_s = sl_s.fillna(0.5)
#丢弃
sl_s = sl_s.dropna()
sl_s

0        0.38
1        0.80
2        0.11
3        0.72
4        0.37
         ...
14995    0.37
14996    0.37
14997    0.11
14998    0.37
15001    0.70
Name: satisfaction_level, Length: 15000, dtype: float64

In [7]:
sl_s.mean()

0.6128393333333333

In [8]:
sl_s.median()

0.64

In [9]:
sl_s.var()

0.061813585758606134

In [10]:
sl_s.max()

1.0

In [11]:
sl_s.min()

0.09

In [12]:
sl_s.kurt() #峰值为负说明流程比较平缓

-0.6706959323886252

In [13]:
sl_s.skew() # 负偏说明大部分值比均值大

-0.47643761717258093

In [14]:
sl_s.quantile(q=0.25)

0.44

In [15]:
sl_s.quantile(q=0.75)

0.82

In [16]:
np.histogram(sl_s.values, bins=np.arange(0,1.1,0.1)) # 将数据 从 0 - 1.1 间隔0.1 分隔

(array([ 195, 1214,  532,  974, 1668, 2146, 1973, 2074, 2220, 2004],
       dtype=int64),
 array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ]))