In [3]:
import pandas as pd 
import numpy as np
df = pd.read_csv("data/HR.csv")
df

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low
14999,NaN,0.52,2,158,3,0,1,0,support,low
15000,NaN,999999.00,2,158,3,0,1,0,sale,low
15001,0.70,0.40,2,158,2,0,1,0,sale,nme

In [16]:
le_s = df["last_evaluation"]
le_q_low = le_s.quantile(q=0.25)
le_q_hig = le_s.quantile(q=0.75)
q_inr = le_q_hig - le_q_low 
k = 1.5 
le_s = le_s[le_s < (le_q_hig + k* q_inr) ][le_s >(le_q_low - k* q_inr)] 
#可形变范围为， 上分位 + 1.5 * 分位差      下分位 -  1.5 * 分位差

In [17]:
le_s.mean()

0.7160675954936337

In [18]:
le_s.median()

0.72

In [22]:
le_s.max()

1.0

In [19]:
le_s.min()

0.36

In [23]:
le_s.kurt()

-1.2390454655108427

In [24]:
le_s.skew()

-0.02653253746872579

0        0.53
1        0.86
2        0.88
3        0.87
4        0.52
         ...
14996    0.53
14997    0.96
14998    0.52
14999    0.52
15001    0.40
Name: last_evaluation, Length: 15001, dtype: float64

In [25]:
np.histogram(le_s.values , bins=np.arange(0,1.1 ,0.1))

(array([   0,    0,    0,  179, 1390, 3396, 2234, 2062, 2752, 2988],
       dtype=int64),
 array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ]))